{% extends 'base.html' %}

{% block title %}
<title>Изменение</title>
{% endblock %}

{% block pagetitle %}
<div class="description">Изменение биллборда</div>
{% endblock %}

{% block content %}
<div class="query-menu">
    <form class="w-50 mx-auto" action="{{ url_for('editHandler.change', id=id) }}" method="post">
        <div class="form-group">
            <label for="date">Дата установки</label>
            <input type="date" class="form-control" id="date" value="{{date}}" name="date" placeholder="Введите дату установки">
        </div>
        <div class="form-group">
            <label for="square">Площадь</label>
            <input type="text" class="form-control" id="square" value="{{square}}" name="square" placeholder="Введите площадь">
        </div>
        <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" class="form-control" id="address" value="{{address}}" name="address" placeholder="Введите адрес">
        </div>
        <div class="form-group">
            <label for="cost">Цена</label>
            <input type="number" class="form-control" id="cost" value="{{cost}}" name="cost" placeholder="Введите цену">
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Изменить</button>
    </form>
</div>

<a href="{{ url_for('editHandler.billboards') }}" class="return-btn">Отменить выбор</a>
{% endblock %}