{% extends 'base.html' %}

{% block title %}
<title>Запрос</title>
{% endblock %}

{% block pagetitle %}
<div class="description">
    {{ description }}
</div>
{% endblock %}

{% block content %}
<div class="query-menu">
    <form class="query-form" action="{{url_for('dbHandler.allClientsNotConnectForPeriod')}}" method="post">
        <div class="form-floating">
            <input type="date" class="form-control" id="date_before" name="before">
            <label for="date_before">Введите начальную дату</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="date_after" name="after">
            <label for="date_after">Введите конечную дату</label>
        </div>
        <button class="btn btn-primary" type="submit">Найти</button>
    </form>

    <a href="/db" class="return-btn">Меню запросов</a>
</div>

{% endblock %}
