{% extends 'base.html' %}

{% block title %}
    <title>Работа с запросами</title>
{% endblock %}

{% block pagetitle %}Меню запросов{% endblock %}

{% block content %}
    <div class="query-menu">
        <div class="query-menu__title">Основные запросы</div>
        <ul class="list-group list-group-numbered">
            {% for query in querys %}
                <li class="list-group-item d-inline-block text-truncate"><a href={{query.url}}>{{ query.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="/" class="return-btn">Главное меню</a>
    </div>
{% endblock %}
