{% extends 'base.html' %}

{% block title %}
    <title>Request</title>
{% endblock %}

{% block pagetitle %}
    <div class="description">
        {{ description }}
    </div>
{% endblock %}

{% block content %}
    <div class="query-menu">
        <form class="query-form" action="{{ url_for('dbHandler.allServicesWherePriceBigger') }}" method="post">
            <label>Enter the price</label>
            <input type="number" placeholder="Enter the price" name="price" value={{vp}}>
            <button type="submit">Get services</button>
        </form>
    </div>

    <a href="/db" class="return-a">Query menu</a>

    {% if isResponse %}
        <div class="response-block">
            {% if data %}
                Response. Enter data: {{ vp }}
                <table>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>price</th>
                    </tr>
                    {% for user in data %}
                        <tr style="margin-bottom: 10px">
                            <th>{{ user.id }}</th>
                            <th>{{ user.name }}</th>
                            <th>{{ user.price_per_day }}</th>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                Noting was found
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
