.query-menu {
    font-size: 1.1rem;

    max-width: 600px;
    min-width: 350px;

    margin: 0 auto;
}

.query-menu__title {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: underline;
}

.query-menu > ul {
    margin-top: 20px;
}