{% extends 'base.html' %}

{% block title %}
<title>Запрос 1</title>
{% endblock %}

{% block pagetitle %}
<div class="description">
    {{ description }}
</div>
{% endblock %}

{% block content %}
<div class="query-menu">
    <form class="w-50 mx-auto" action="{{ url_for('queryHandler.allClientsNotConnectForPeriod') }}" method="post">
        <div class="form-group">
            <label for="before">Введите начальную дату</label>
            <input type="date" class="form-control" id="before" name="before" placeholder="Введите начальную дату">
        </div>
        <div class="form-group">
            <label for="after">Введите конечную дату</label>
            <input type="date" class="form-control" id="after" name="after" placeholder="Введите конечную дату">
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Найти пользователя</button>
    </form>
</div>

<a href="{{ url_for('queryHandler.menu') }}" class="return-btn">Меню запросов</a>
{% endblock %}
