{% extends 'base.html' %}

{% block title %}
<title>Запрос 2</title>
{% endblock %}

{% block pagetitle %}
<div class="description">
    {{ description }}
</div>
{% endblock %}

{% block content %}
<div class="query-menu">
    <form class="w-50 mx-auto" action="{{ url_for('queryHandler.allServicesWherePriceBigger') }}" method="post">
        <div class="form-group">
            <label for="price">Введите цену</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Введите цену">
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Найти сервис</button>
    </form>
</div>

<a href="{{ url_for('queryHandler.menu') }}" class="return-btn">Меню запросов</a>
{% endblock %}
