.description {
    font-size: 1.7rem;
}

form.query-form {
    max-width: 350px;
    margin: 0 auto;

    padding: 10px 5px;
}

form.query-form > div {
    font-size: 1rem;
    margin-bottom: 15px;
}

form.query-form > button {
    width: 100%;
}

.return-btn {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

