.description {
    font-size: 1.5rem;
}

form.query-form {
    display: flex;
    flex-direction: column;

    max-width: 350px;
    margin: 0 auto;

    padding: 10px 5px;
}

form.query-form > input {
    font-size: 1rem;
    margin-bottom: 15px;
    height: 20px;
}

form.query-form > button {
    font-size: 1rem;
    border: 1px solid #0088cc;
    color: #0088cc;
    background: white;
    height: 20px;
}

form.query-form > button:hover {
    background: #defaff;
}

.response-block {
    max-width: 400px;
    margin: 40px auto 0;

    font-size: 1rem;
}

.return-a {
    text-align: center;

    margin: 10px auto 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

table {
    max-width: 400px;
    border-collapse: collapse;
}

th {
    width: 33%;
    text-align: left;

}