{% extends 'base.html' %}

{% block title %}
<title>Добавление</title>
{% endblock %}

{% block pagetitle %}
<div class="description">Добавление сервиса</div>
{% endblock %}

{% block content %}
<div class="query-menu">
    <form class="w-50 mx-auto" action="{{ url_for('editHandler.add') }}" method="post">
        <div class="form-group">
            <label for="before">Название</label>
            <input type="text" class="form-control" id="before" name="name" placeholder="Введите название">
        </div>
        <div class="form-group">
            <label for="after">Цена за день</label>
            <input type="number" class="form-control" id="after" name="price" placeholder="Введите цену за день">
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Добавить</button>
    </form>
</div>

<a href="{{ url_for('editHandler.services') }}" class="return-btn">Отменить выбор</a>
{% endblock %}
